body {
    font-family: font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    /*
    font-weight:
        100 - Thin
        400 - Regular
        900 - Black
    */
    text-align: center;
}

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}

/* ==================== */
/* ===== Headings ===== */
/* ==================== */

h1, h2, h3 {
    font-weight: 900; /* Montserrat-Black */
    line-height: 1.5;
}

.big-heading {
    font-size: 3.5rem;
}

.section-heading {
    font-size: 3rem;
    font-weight: 400 bold; /* Montserrat-Regular */
}


p {
    color: #8f8f8f;
}


/* ====================== */
/* ===== Containers ===== */
/* ====================== */

.container-fluid {
    /* top&bottom right&left */
    padding: 7% 15%;
}


/* ========================= */
/* ===== Title Section ===== */
/* ========================= */

/* Navigation Bar */
.navbar {
    /* top right&left bottom */
    padding: 0  0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    /* top&bottom right&left */
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100; /* Montserrat-Light */
}

/* Download Buttons */
.download-btn {
    /* top right bottom left */
    margin: 5% 3% 5% 0;
}

#title {
    text-align: left;
}

#title .container-fluid {
    /* top&bottom right&left */
    padding: 3% 15% 7%;
}

/* Title Image */
.img-title {
    position: absolute;
    right: 30%;
    transform: rotate(25deg);
    width: 60%;
}

/* ============================ */
/* ===== Features Section ===== */
/* ============================ */

#features {
    position: relative;
    z-index: 1; /* Hide the image behind the Features Section - (Optional, because of the HTML order) */
}

.col-features {
    padding: 5%;
}

.icon-features {
    color: #ef8172;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.icon-features:hover {
    color: #ff4c68;
}

.feature-title {
    font-size: 1.5rem;
}

.text-features {
    color: #8f8f8f;
}


/* ================================ */
/* ===== Testimonials Section ===== */
/* ================================ */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    ine-height: 1.5;
}

.img-testimonial {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}


/* ========================= */
/* ===== Press Section ===== */
/* ========================= */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.img-press {
    margin: 20px;
    width: 15%;
}


/* =========================== */
/* ===== Pricing Section ===== */
/* =========================== */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    ine-height: 1.5;
}

.col-pricing {
    padding: 3% 2%;
}

.hidden {
    visibility: hidden;
}


/* ================================== */
/* ===== Call to Action Section ===== */
/* ================================== */


/* ========================== */
/* ===== Footer Section ===== */
/* ========================== */

.icon-footer{
    font-size: 2rem;
    padding: 10px 20px;
}


/* ======================= */
/* ===== Media Query ===== */
/* ======================= */

@media (max-width:1028px) {
    .img-title {
        position: static;
    }
    .img-title-rotate {
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}
